<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user_data.css') }}">
            <title>User Data</title>
    
        <style>
           
        </style>
    </head>
    <body>
        <h1>User Data</h1>
        <div class="grid-container">
            {% for sheet_name, table_html in tables.items() %}
                <div class="grid-item">
                    <h2>{{ sheet_name }}</h2>
                    {{ table_html|safe }}
                </div>
            {% endfor %}
        </div>
        <div class="floating-buttons">
            <a href="{{ url_for('processing_done') }}">Check Another Picker</a>
            <a href="/">Back to Home</a>
        </div>
    </body>
    
</html>
